/* font-sizes */
h1{font-size: 4.5rem;}
h2{font-size: 2.5rem;}
.fs-18px{font-size: 18px;}
.fw-500{font-weight: 500;}

@media screen and (max-width: 576px){
    h1{font-size: 2.5rem;}
    h2{font-size: 1.5rem;}
}

/* heights */
.h-100vh{height: 100vh;}
.h-25px{height: 25px;}
.typed-height{height: 10px;}

/* positions */
.top-25{top:25%}
.right-0{right: 0;}

/* borders */
.border-bottom-orange{border-bottom:3px solid #FF650B;}
.border-effect-orange{background: linear-gradient(#FF650B, #FF650B) bottom center / 0% 2px no-repeat; transition: 0.3s;}
.border-effect-orange:hover{background-size: 100% 4px; border-color: transparent !important; opacity: 0.8; transition-timing-function: ease-in;}

/* navbar */
#navbar_container{ transition-property: all; transition-duration: 1s;}
.nav-link{font-size: 1.3rem; opacity: 1;}

/* backgrounds */
.bg-nav{background-color: transparent;}
.bg-navbar-scroll{background-color: #000; transition: 1s;}
.bg-orange{background-color: #FF650B;}
.bg-hero-portrait{background-image: url(../../assets/img/hero_portrait.webp); background-repeat: no-repeat; background-size: cover; background-position: center center;}
.bg-counter-section{background-image: url(../../assets/img/bg-counters.webp); background-repeat: no-repeat; background-size: cover; background-position: center center;}
.bg-contact-section{background-color: #000}
.bg-copyright{background-color: #000}

/* socials */
.hover_image{transition: .3s;}
.hover_image:hover{transform: scale(1.4);}